.navbar {
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    font-size: 24px;
}
.navbar-brand span {
    color: #f45a5a;
}
.form-control {
    border-radius: 20px;
}
.btn-search {
    background-color: #f45a5a;
    color: white;
    border-radius: 50%;
}
.nav-icons {
    font-size: 20px;
    color: #f45a5a;
}
.date-display {
    font-weight: bold;
    color: #000000;
}
.date-display span {
    color: #3ABEFF;
    font-size:14px;
}